/*
@author Zachary Wartell
@copyright Zachary Wartell. All rights reserved. 2019.
@version 1.x-6
*/
P.definition {
    background-color: lightgray;
    border-color: black;
    border: solid;
}

P.axiom {
    background-color: lightgray;
    border-color: black;
    border: dashed;
}

P.proposition {
    background-color: lightgray;
    border-color: black;
    border: thick solid;
}

span.definitionTerm_Highlight {
    background-color: yellow;
    color : red;
}

span.axiomRef {
    color : cadetblue;
    background-color: yellow;
}

span.propRef {
    color : cadetblue;
    background-color: yellow;
}

span.defRef {
    color : cadetblue;
    background-color: yellow;
}

span.corollaryRef {
    color : cadetblue;
    background-color: yellow;
}

span.lemmaRef {
    color : cadetblue;
    background-color: yellow;
}
span.postRef {
    color : cadetblue;
    background-color: yellow;
}


dialog#infoDialog {
    //min-width: 200px;
    alignment: center;
    border-color: black;
    border: thick solid;
    background-color: lightgrey;
}
dialog#infoDialog span , dialog#infoDialog p
{
    alignment: center;
    text-align : left;
}

#warning {
  background-color: yellow;
}

